@font-face {
  font-family: "Freeserif";
  src: url("../fonts/FreeSerif.woff2") format("woff2");
  font-weight: normal;
  font-style: normal;
}

@font-face {
  font-family: "Freeserif";
  src: url("../fonts/FreeSerifItalic.woff2") format("woff2");
  font-weight: normal;
  font-style: italic;
}

@font-face {
  font-family: "NanumMyeongjo";
  src: url("../fonts/NanumMyeongjo.woff2") format("woff2");
  font-weight: normal;
  font-style: normal;
}

@font-face {
  font-family: "NanumMyeongjo";
  src: url("../fonts/NanumMyeongjoBold.woff2") format("woff2");
  font-weight: bold;
  font-style: normal;
}


html,
body {
  margin: 0;
  padding: 0;
  width: 100%;
  height: 100%;
  overflow: hidden;
  /* disables scrolling */

  font-family: "Freeserif";
}

.project-canvas {
  width: 100vw;
  height: 100vh;
  background-color: #ffffff;
  display: flex;
  justify-content: center;
  align-items: center;
}

.project {
  width: 100vw;
  height: 100vh;
  background-color: #ffffff;
  display: flex;
  justify-content: center;
  align-items: center;
}


/* SIDEBAR */

.thumbnail {
  width: 8vw;
  overflow: hidden;
  display: block;
  margin: 2vw;
  z-index: 10;
  border-radius: 5px;

  transition: box-shadow 0.3s ease, transform 0.1s ease;
}

.thumbnail:hover {
  width: 8vw;
  overflow: hidden;
  display: block;
  margin: 2vw;
  box-shadow: 0 0 40px 10px rgb(0, 0, 0);
  transform: scale(1.03);

  z-index: 10;
}

.thumbnail img {
  width: 100%;
  height: auto;
  display: block;
}

.sidebar {
  position: fixed;
  top: 0;
  right: -70%;
  width: 70%;
  height: 100vh;
  display: flex;
  transition: right 0.3s ease-in-out;
  z-index: 20;
}

body:has(.sidebar.show) .about {
  pointer-events: none;
}

.sidebar.show {
  right: 0;
}

.sidebar-left,
.sidebar-right {
  width: 50%;
  height: 100%;
  overflow: auto;
}

.sidebar-left {
  background-color: #ffffff;
  display: flex;
  flex-direction: column;
  height: 100%;
  overflow-x: hidden;
  z-index: 21;
}

.sidebar-right {
  display: flex;
  flex-direction: column;
  background-color: #ffffff;
  border: 1px solid;
  border-top: none;
  overflow-x: hidden;
  z-index: 25;
}



.sidebar-resizer {
  width: 5px;
  height: 100%;
  background-color: rgb(0, 0, 0);
  transition: box-shadow 0.3s ease;
  z-index: 1002;
}

.sidebar-resizer:Hover {
  box-shadow: -0px 0 10px rgb(0, 0, 0);
  cursor: grab;
}

.language-resizer {
  position: absolute;
  width: 5px;
  height: 100%;
  background-color: rgb(0, 0, 0);
  transition: box-shadow 0.3s ease;
  z-index: 1004;
}

.language-resizer:Hover {
  box-shadow: -4px 0 10px rgb(0, 0, 0);
  cursor: grab;
}



.image {
  flex-grow: 1;
  /* is maybe not needed */
  overflow-y: scroll;
  display: flex;
  flex-direction: column;
  align-items: center;
  padding-bottom: 10px;
}

.image img {
  width: 96%;
  padding-top: 10px;
}

.description {
  display: flex;
  flex-direction: column;
  justify-content: center;
  border-bottom: 1px solid;
  padding: 10px;
  padding-top: 19px;
}

.title-row {
  display: flex;
  justify-content: space-between;
  align-items: center;
  cursor: default;
}

.title,
.arrow {
  line-height: 1;
}

.description-credit {
  max-height: 0;
  overflow: hidden;
  transition: max-height 0.4s ease;
  margin-top: 10px;
  opacity: 0;
  transition: max-height 0.4s ease, opacity 0.3s ease;
}

.description:hover .description-credit {
  max-height: 500px;
  /* must be greater than actual content height */
  opacity: 1;
}


.video {
  width: 100%;
  position: relative;
  display: none;
  padding-top: 56.25%;

  background-color: #ffffff;
  border: 1px solid;
  border-top: none;
}

.video.active {
  display: block;
}

.video iframe {
  position: absolute;
  top: 0;
  left: 0;
  width: 100%;
  height: 100%;
  border: 0;
}

.text {
  flex-grow: 1;
  display: flex;
  overflow: hidden;
  height: 100%;
}


}
.korean {
  position: relative;
  padding: 0 10px;
  display: flex;
  flex-direction: column;
  height: 100%;
  background-color: #ffffff;
  border: 1px solid;
  border-top: none;
  border-right: none;
  font-family: "NanumMyeongjo", serif;
  font-weight: bold;
  font-size: 0.9rem;
  line-height: 1.4rem;
  z-index: 24;
}

.english {
  position: inherit;
  padding: 0 10px;
  display: flex;
  flex-direction: column;
  height: 100%;
  background-color: #ffffff;
  border: 1px solid;
  border-top: none;
  border-right: none;
  font-family: "Freeserif", serif;
  font-size: 1.1rem;
  line-height: 1.3rem;
  z-index: 22;
}

/* SCROLL BAR */
.scroll-wrapper {
  position: relative;
  height: 100%;
  width: 100%;
}

.scroll-content {
  overflow-y: scroll;
  height: 100%;
  width: 100%;
  box-sizing: border-box;
  scrollbar-width: none; /* Firefox */
  -ms-overflow-style: none;  /* IE 10+ */
}

.image::-webkit-scrollbar,
.korean::-webkit-scrollbar,
.english::-webkit-scrollbar,
.about-wrapper::-webkit-scrollbar {
  display: none; /* Chrome, Safari, Edge */
}

/* Custom scrollbar container */
.scrollbar {
  position: absolute;
  top: 0;
  right: 0;
  width: 4px;
  height: 100%;
  background: transparent;
}

/* Custom scrollbar thumb */
.scrolltrack {
  position: absolute;
  width: 100%;
  background: black;
  position: absolute;
  top: 0;
}


/* ABOUT PAGE */
.about {
  font-family: "Freeserif";
  font-size: 128pt;
  line-height: 1;
  position: absolute;
  top: 10px;
  left: 10px;
  cursor: pointer;
  overflow: none;
  z-index: 4;
  height: 70px;
}

.trans-word {
  height: 70px;
  position: relative;
  cursor: pointer;
  transition: color 0.4s ease;
  line-height: 1;
  display: inline-flex;
  align-items: center;
  text-align: left;
}

.trans-word::after {
  content: attr(data-translation);
  position: absolute;
  top: 50%;
  left: 0%;
  transform: translate(0%, -46%);
  /* zentriert das Pseudo-Element */
  color: black;
  font-weight: bold;
  white-space: nowrap;
  opacity: 0;
  pointer-events: none;
  transition: opacity 0.4s ease, filter 0.4s ease;
  filter: blur(9px);

  font-family: "NanumMyeongjo", serif;
  font-size: 110pt;
  /* line-height: 1; */
  z-index: 1;
}

.trans-word:hover {
  font-weight: bold;
  color: transparent;
}

.trans-word:hover::after {
  opacity: 1;
  filter: blur(0);
}

.back {
  position: absolute;
  width: 100%;
  height: 100%;
  z-index: 2;
}

.about-detail {
  position: fixed;
  left: 0;
  bottom: -80%;
  width: 100vw;
  height: 80vh;
  display: flex;
  transition: bottom 0.4s ease-in-out;
  border-top: 1px solid black;
  background-color: #ffffff;
  overflow-x: auto;
  z-index: 1000;
  
  min-width: 100vw;
}

.about-detail p {
  margin-top: 0.5rem;
  margin-left: 0.5rem;
  margin-right: 0.3rem;
}

.about-detail.show {
  bottom: 0;
}

.about-wrapper,
.about-imprint,
.about-exhibition {
  flex-shrink: 0;
}

.about-wrapper {
  width: 50vw;
  border-right: 1px solid #000000;
  position: relative;

  display: flex;
  flex-direction: column;

  overflow-y: auto;
}

.about-text {
  position: relative;
  font-size: 2rem;
  padding-left: 5px;
  padding-right: 3px;

  border-bottom: 1px solid #000000;
}

.about-paragraphs {
  position: relative;
  width: 100%;
}

.about-paragraphs p {
  margin-bottom: 10px;
}

.about-english {
  opacity: 1;
  filter: blur(0px);
  z-index: 2;
  line-height: 2.4rem;
  transition: opacity 0.4s ease, filter 0.4s ease;
}

.about-korean {
  font-family: "NanumMyeongjo", serif;
  font-weight: bold;
  font-size: 1.5rem;
  line-height: 2.5rem;

  opacity: 0;
  filter: blur(6px);
  z-index: 1;
  pointer-events: none;

  position: absolute;
  top: 0;
  left: 0;
  width: 97%;
  transition: opacity 0.4s ease, filter 0.4s ease;
}

.about-text:hover .about-english {
  opacity: 0;
  filter: blur(6px);
}

.about-text:hover .about-korean {
  opacity: 1;
  filter: blur(0px);
}

.about-cv {
  position: relative;
}

.cv-wrapper {
  padding: 10px;
}

.about-exhibition {
  width: 40vw;
  border-right: 1px solid #000000;
  overflow-y: auto;
}

.about-imprint {
  width: 80vw;
  overflow-y: auto;
}

.about-title {
  padding: 10px;
  border-bottom: 1px solid #000000;
}